# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Assign it to a df_fundsriable called

In [21]:
import pandas as pd

df_funds=pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')
df_funds

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
...,...,...,...,...,...,...,...,...,...
42,2015-04-01,-1527,-3307,1780,720,-1296,-1392,96,-2103
43,2015-04-08,1906,-1321,3227,250,1719,1906,-187,3875

In [23]:
df_funds['Date']

0     2012-12-05
1     2012-12-12
         ...
42    2015-04-01
43    2015-04-08
Name: Date, Length: 44, dtype: object

###  What is the frequency of the dataset?

In [24]:
df_funds.count()

Date               44
Total Equity       44
Domestic Equity    44
World Equity       44
Hybrid             44
Total Bond         44
Taxable Bond       44
Municipal Bond     44
Total              44
dtype: int64

### Set the column Date as the index.

In [25]:
df_funds.set_index(keys='Date', inplace=True)

### What is the type of the index?

In [26]:
df_funds.index

Index(['2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26', '2013-01-02',
       '2013-01-09', '2014-04-02', '2014-04-09', '2014-04-16', '2014-04-23',
       '2014-04-30', '2014-05-07', '2014-05-14', '2014-05-21', '2014-05-28',
       '2014-06-04', '2014-06-11', '2014-06-18', '2014-06-25', '2014-07-02',
       '2014-07-09', '2014-07-30', '2014-08-06', '2014-08-13', '2014-08-20',
       '2014-08-27', '2014-09-03', '2014-09-10', '2014-11-05', '2014-11-12',
       '2014-11-19', '2014-11-25', '2015-01-07', '2015-01-14', '2015-01-21',
       '2015-01-28', '2015-02-04', '2015-02-11', '2015-03-04', '2015-03-11',
       '2015-03-18', '2015-03-25', '2015-04-01', '2015-04-08'],
      dtype='object', name='Date')

In [27]:
df_funds.index

Index(['2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26', '2013-01-02',
       '2013-01-09', '2014-04-02', '2014-04-09', '2014-04-16', '2014-04-23',
       '2014-04-30', '2014-05-07', '2014-05-14', '2014-05-21', '2014-05-28',
       '2014-06-04', '2014-06-11', '2014-06-18', '2014-06-25', '2014-07-02',
       '2014-07-09', '2014-07-30', '2014-08-06', '2014-08-13', '2014-08-20',
       '2014-08-27', '2014-09-03', '2014-09-10', '2014-11-05', '2014-11-12',
       '2014-11-19', '2014-11-25', '2015-01-07', '2015-01-14', '2015-01-21',
       '2015-01-28', '2015-02-04', '2015-02-11', '2015-03-04', '2015-03-11',
       '2015-03-18', '2015-03-25', '2015-04-01', '2015-04-08'],
      dtype='object', name='Date')

### Set the index to a DatetimeIndex type

In [28]:
df_funds.index = pd.to_datetime(df_funds.index)

In [29]:
df_funds.index

DatetimeIndex(['2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26',
               '2013-01-02', '2013-01-09', '2014-04-02', '2014-04-09',
               '2014-04-16', '2014-04-23', '2014-04-30', '2014-05-07',
               '2014-05-14', '2014-05-21', '2014-05-28', '2014-06-04',
               '2014-06-11', '2014-06-18', '2014-06-25', '2014-07-02',
               '2014-07-09', '2014-07-30', '2014-08-06', '2014-08-13',
               '2014-08-20', '2014-08-27', '2014-09-03', '2014-09-10',
               '2014-11-05', '2014-11-12', '2014-11-19', '2014-11-25',
               '2015-01-07', '2015-01-14', '2015-01-21', '2015-01-28',
               '2015-02-04', '2015-02-11', '2015-03-04', '2015-03-11',
               '2015-03-18', '2015-03-25', '2015-04-01', '2015-04-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

###  Change the frequency to monthly, sum the values and assign it to monthly.

In [34]:
df_funds.resample("M").max()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-4451.0,-4076.0,-26.0,550.0,5317.0,4210.0,1107.0,-1291.0
2013-01-31,14817.0,7995.0,6821.0,2888.0,9766.0,7311.0,2455.0,27471.0
...,...,...,...,...,...,...,...,...
2015-03-31,3911.0,-7.0,3918.0,912.0,4984.0,4309.0,703.0,6511.0
2015-04-30,1906.0,-1321.0,3227.0,720.0,1719.0,1906.0,96.0,3875.0

In [35]:
df_funds.resample("M").agg(['max', 'min'])

           Total Equity          Domestic Equity         World Equity          \
                    max      min             max     min          max     min
Date
2012-12-31      -4451.0  -8783.0         -4076.0 -7520.0        -26.0 -1367.0
2013-01-31      14817.0 -11156.0          7995.0 -9622.0       6821.0 -1533.0
...                 ...      ...             ...     ...          ...     ...
2015-03-31       3911.0  -1167.0            -7.0 -4478.0       3918.0  2932.0
2015-04-30       1906.0  -1527.0         -1321.0 -3307.0       3227.0  1780.0

            Hybrid        Total Bond         Taxable Bond          \
               max    min        max     min          max     min
Date
2012-12-31   550.0  -74.0     5317.0   103.0       4210.0  1598.0
2013-01-31  2888.0 -158.0     9766.0  2383.0       7311.0  2103.0
...            ...    ...        ...     ...          ...     ...
2015-03-31   912.0  528.0     4984.0   452.0       4309.0   258.0
2015-04-30   720.0  250.0     1719.0 -1296.0       1906.0 -1392.0

           Municipal Bond            Total
                      max     min      max     min
Date
2012-12-31         1107.0 -3369.0  -1291.0 -6842.0
2013-01-31         2455.0   280.0  27471.0 -8931.0
...                   ...     ...      ...     ...
2015-03-31          703.0   194.0   6511.0  1775.0
2015-04-30           96.0  -187.0   3875.0 -2103.0

[29 rows x 16 columns]

In [32]:
df_monthly = df_funds.resample("M").sum()
df_monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-01-31,3661,-1627,5288,2730,12149,9414,2735,18540
...,...,...,...,...,...,...,...,...
2015-03-31,5691,-8176,13867,2829,9138,7267,1870,17657
2015-04-30,379,-4628,5007,970,423,514,-91,1772

### You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [39]:
df_monthly = df_monthly.dropna()

### Good, now we have the monthly data. Now change the frequency to year.

In [42]:
df_funds.resample('Y').sum()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-12-31,3661,-1627,5288,2730,12149,9414,2735,18540
2014-12-31,330,-44689,45021,19570,59890,44994,14896,79787
2015-12-31,15049,-10459,25508,7280,26028,17986,8041,48357

### BONUS: Create your own question and answer it.